[Desktop Entry]
Type=Application
Version=9.5.5
Name=Adobe Acrobat Reader
Comment=PDF Viewer
TryExec=acroread
Exec=acroread %F
Terminal=false
MimeType=application/adobe.pdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;application/vnd.adobe.xfdf;application/vnd.fdf;
Categories=Graphics;Presentation;2DGraphics;VectorGraphics;Viewer
StartupNotify=true
Keywords=pdf;document;presentation;
